<!DOCTYPE html>
<html lang="en">
<head>
    <title>storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/app.css" rel="stylesheet">
    <script type="text/javascript" src="/js/libs/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/libs/lodash.js"></script>
    <script type="text/javascript" data-main="/js/app/main.js" src="/js/libs/require.js"></script>
</head>

<body>
<div ui-view></div>
</body>
</html>
