<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hsensor前端小站</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/app.css" rel="stylesheet">
    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
            position: relative;
        }
    </style>
    <script type="text/javascript" data-main="/js/app/main.js" src="/js/libs/require.js"></script>
</head>
<body>
<div ui-view></div>
</body>
</html>
